*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;
    transition: .5s;
}
a:hover{
    color: tomato;
}
body{
    color: #fff;
    background-color: #302f2f;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;

}
.home-img img{
    width: 100%;
}
.logo-box a{
    color: #fff !important;
}
.about-left img{
    width: 100%;
}
.home-box{
    margin: 100px auto;
}
.nav-link{
    color: #fff !important;
}
.home_text span{
    font-size: 18px;
}
.home_text p{
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
}
.home_text a{
    font-size: 13px;
    transition: .5s;

}
.home_text a:hover{
    text-transform: uppercase;
}
.home-social-link{
    margin-top: 20px;
}
.home-social-link a{
    margin-right: 10px;
}
.dream-website{
    margin: 100px auto;
}
.dream-website h1 {
    text-align: center;
    color: #ffa52f;
    font-weight: 600;
    margin-bottom: 70px;
}
.dream-single-box{
    background-color: #484343;
    border-radius: 20px;
    padding: 50px;
    margin-right: 2px;
    text-align: center;
    transition: 0.5s;

}
.dream-single-box i{
    font-size: 48px;
    color: #ffa52f;
    margin-bottom: 30px;
}
.dream-single-box h4{
    margin-bottom: 20px;
}
.dream-single-box:hover h4{
    color: #fff;
}
.dream-single-box:hover i{
    color: #fff;
}
.dream-single-box:hover{
    background-image: linear-gradient(
            83deg, #8230e3, #f9f104);
}
.about-box h1 {
    color: #ffa52f;
    font-weight: 600;
    margin-bottom: 40px;
}
.about-box h2{
    font-weight: 600;
}
.about-box p{
    text-align: justify;
    margin-bottom: 30px;
}
.about-box a {
    color: #ffa52f;
    border: 3px solid #ffa52f;
    padding: 7px 20px;
    border-radius: 20px;
    font-size: 12px;
}
/*Service box*/
.service{
    margin: 100px auto;
}
.service-box h1{
    color: #ffa52f;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
}
.service-box h2{
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}
.service-box p{
    text-align: center;
    margin-bottom: 30px;
}
.single-service{
    background-color: #484343;
    border-radius: 20px;
    padding: 50px;
    margin-right: 2px;
    text-align: center;
    transition: 0.5s;
    margin-bottom: 30px;
}
.single-service:hover{
    background-image: linear-gradient(
            83deg, #8230e3, #f9f104);
}
.single-service:hover i{
    color: #fff;
}
.single-service i{
    font-size: 48px;
    margin-bottom: 25px;
    color: #ffa52f;

}
.single-service h3{
    font-weight: 600;
}
/*Project CSS*/
.project{
    margin: 30px auto;
}
.project-box h1{
    color: #ffa52f;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
}
.single-project{
    text-align: center;
}
.single-project img {
    width: 400px;
    height: 400px;
    text-align: center;
    margin-bottom: 40px;
    filter: grayscale(100%);
    transition: 0.5s;
}
.single-project img:hover {
    filter: grayscale(0);
    transform: translateY(-10px);
}
/*expertise section css*/
.expertise{
    margin: 70px auto;
}
.expertise h1{
    color: #ffa52f;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
}
.expertise h2{
    text-align: center;
    font-weight: 600;
}
.expertise p{
    text-align: center;
    margin: 10px 0;
}
.expertise-box{
    background-image: url("../images/project/project-four.jpeg");
    background-repeat: no-repeat;
}