*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;
    transition: .5s;
}
a:hover{
    color: tomato;
}
body{
    color: #fff;
    background-color: #302f2f;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;

}
.home-img img{
    width: 100%;
}
.logo-box a{
    color: #fff !important;
}
.about-left img{
    width: 100%;
}
.home-box{
    margin: 100px auto;
}
.nav-link{
    color: #fff !important;
}
.home_text span{
    font-size: 18px;
}
.home_text p{
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
}
.home_text a{
    font-size: 13px;
    transition: .5s;

}
.home_text a:hover{
    text-transform: uppercase;
}
.home-social-link{
    margin-top: 20px;
}
.home-social-link a{
    margin-right: 10px;
}
.dream-website{
    margin: 100px auto;
}
.dream-website h1 {
    text-align: center;
    color: #ffa52f;
    font-weight: 600;
    margin-bottom: 70px;
}
.dream-single-box{
    background-color: #484343;
    border-radius: 20px;
    padding: 50px;
    margin-right: 2px;
    text-align: center;
    transition: 0.5s;

}
.dream-single-box i{
    font-size: 48px;
    color: #ffa52f;
    margin-bottom: 30px;
}
.dream-single-box h4{
    margin-bottom: 20px;
}
.dream-single-box:hover h4{
    color: #fff;
}
.dream-single-box:hover i{
    color: #fff;
}
.dream-single-box:hover{
    background-image: linear-gradient(
            83deg, #8230e3, #f9f104);
}